/* MacOS System 7 inspired styles */

/* Global Styles */
body {
    font-family: "Chicago", system-ui;
    margin: 0;
    padding: 0;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Menu Bar Styles */
.menu-bar {
    background-color: #ffffff;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    height: 20px;
    left: 0;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.apple-menu {
    height: 16px;
    margin-right: 10px;
    width: 16px;
    display: block;
}

/* Desktop Styles */
.desktop {
    min-height: 100vh;
    padding-top: 40px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
}

/* Window Styles */
.window {
    background-color: #ffffff;
    border: 1px solid #000;
    box-shadow: 2px 2px 0 #2e2e2e90;
    min-height: 150px;
    min-width: 200px;
    position: absolute;
    border-radius: 10px;
    display: none;
}

.window-title {
    background-color: #626262;
    border-radius: 8px 8px 0 0;
    color: #ffffff;
    cursor: move;
    font-size: 14px;
    padding: 2px 5px 2px 20px; /* Make room for buttons */
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.window-content {
    padding: 10px;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

.window-controls {
    display: flex;
    gap: 4px;
    left: 8px;
    position: absolute;
    top: 4px;
}

.window-button {
    background: #fff;
    border: 1px solid #000;
    cursor: pointer;
    height: 12px;
    width: 12px;
}

.window-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    cursor: se-resize;
    background: linear-gradient(135deg, transparent 70%, #626262 70%);
}

/* Desktop Icon Styles */
.desktop-icon {
    cursor: pointer;
    height: 64px;
    position: absolute;
    text-align: center;
    width: 64px;
}

.icon-image {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #000;
    height: 32px;
    margin: 0 auto 5px;
    width: 32px;
}

.icon-title {
    color: #fff;
    font-size: 12px;
    text-shadow: 1px 1px 1px #000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}